{% extends '../base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid full-height">
    <div class="row">
        <div class="col">
            <div class="card-body">

            </div>
        </div>
        <div class="col-8">
            <h1>Edit task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form.title }}
                <br>
                {{ form.completion_time }}
                <br>
                {{ form.description }}
                <br>
                <input type="submit" value="Save Changes" class="btn btn-primary">
                <a href="{% url 'tasks' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
        <div class="col">
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
{% endblock %}